.footer-container {
  background-color: $color-black;
  height: 14.3rem;

  @include respond(phone) {
    height: initial;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;

  &__social {
    .social {
      display: flex;
      gap: 1.5rem;
      justify-content: flex-end;
      transform: scale(1.1);
      transform-origin: 100%;

      .twitter {
        transform: translateY(3px);
      }
      @include respond(phone) {
        justify-content: center;
        transform: initial;
        transform-origin: initial;
        margin-top: 6rem;
      }
    }
    .copyright {
      color: $color-dark-grey;
      margin-top: 3.4rem;
      font-size: 1.5rem;

      @media only screen and (max-width: 665px) {
        font-size: 1.2rem;
      }
      @include respond(phone) {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  &__nav {
    img {
      transform: scale(0.8);
      transform-origin: 0;
      @include respond(phone) {
        align-self: center;
        transform-origin: initial;
      }
    }
    ul {
      margin-top: 2rem;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__navigation-list {
    .navigation-item {
      align-self: center;
      font-size: 1.8rem;
    }
    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }
  @include respond(phone) {
    flex-direction: column;
    padding-top: 7rem;
  }
}
