.header-container {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  &__heading {
    display: inline-block;
    border: 2px solid $color-white;
    padding: 2rem 10rem 2rem 4.4rem;

    h1 {
      padding-top: 18px; // Fixes stupid font issue that took me an hour and a half to figure out what the problem was
    }
  }
}
