.header-container {
  height: 66vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;

  @include respond(phone) {
    height: 103vh;
  }
}
.header {
  &__heading {
    display: inline-block;
    border: 2px solid $color-white;
    padding: 2.5rem 10rem 2.5rem 4.4rem;
    margin-top: 12rem;

    h1 {
      padding-top: 18px; // Fixes stupid font issue
    }

    @include respond(phone) {
      width: 100%;
      padding-right: 4.5rem;
      margin-top: initial;
      border: 3px solid $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include respond(phone) {
    height: 100%;
    position: relative;
  }
}
