.navigation {
  display: flex;
  justify-content: space-between;

  &__logo {
    transform: translateY(-2px);

    @include respond(phone) {
      transform: scale(0.75);
      transform-origin: 0;
    }
  }
}
.navigation-list {
  display: flex;
  gap: 2.7rem;
  align-self: center;

  @include respond(phone) {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 665px) {
  .navigation-list {
    gap: 1.5rem;
  }
}
.navigation-item {
  font-size: 1.4rem;
  color: $color-white;
}
