.navigation {
  display: flex;
  justify-content: space-between;

  &__logo {
    transform: translateY(-2px);

    @include respond(phone) {
      transform: scale(0.8);
      transform-origin: 0;
    }
  }
  &--mobile-container {
    display: none;

    @include respond(phone) {
      display: flex;
      visibility: hidden;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      background-color: $color-black;
      z-index: 1000;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;

    & *:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__menu-btn {
    &--hamburger,
    &--close {
      display: none;
      @include respond(phone) {
        display: initial;
        align-self: center;
      }
    }
    &--close {
      transform: translateX(-2px);
    }
  }
}
.navigation-list {
  display: flex;
  align-self: center;

  & *:not(:last-child) {
    margin-right: 3rem;

    @include respond(phone) {
      margin-right: initial;
    }
  }

  @include respond(phone) {
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 665px) {
  .navigation-list > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}
.navigation-item {
  font-size: 1.4rem;
  color: $color-white;
  transition: all 0.05s;

  &--mobile {
    font-size: 3.5vh;
    font-family: 'Josefin Sans', sans-serif;
    color: $color-white;
    text-transform: uppercase;
  }
}
.header__navigation-list {
  @include respond(phone) {
    display: none;
  }
}
