*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
}

// Active States
.navigation-item,
.social-icon {
  position: relative;
}
.navigation-item:hover,
.social-icon:hover {
  transform: translateY(-1px);
}
.navigation-item:hover::after,
.social-icon:hover::after {
  content: '';
  background: $color-white;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 40%;
}
.social-icon:hover::after {
  width: 100%;
  bottom: -5px;
  height: 2px;
}
.social-icon:hover {
  transform: translateY(-1px);
}
.grid__item:hover {
  .item {
    filter: opacity(0.4) sepia(1);
  }
  h3 {
    color: $color-black;
    font-weight: 700;
  }
}
