body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.heading-primary {
  font-size: 7rem;
  color: $color-white;

  @include respond(phone) {
    font-size: 5rem;
    word-spacing: 1000rem; //each word breaks a line
  }
}
.heading-secondary {
  font-size: 5rem;
  color: $color-black;

  @include respond(phone) {
    font-size: 4rem;
  }
}
.heading-tertiary {
  font-size: 3.2rem;
  color: $color-white;
}
.paragraph {
  font-size: $default-font-size;
  color: $color-dark-grey;
  line-height: 2.5rem;
}
