// BIG
.u-margin-right-left--big {
  margin-right: 16rem;
  margin-left: 16rem;

  @include respond(tab-land) {
    margin-right: 9rem;
    margin-left: 9rem;
  }
  @include respond(phone) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
.u-margin-top--big {
  margin-top: 16.5rem;

  @include respond(phone) {
    margin-top: 12rem;
  }
}
// MEDIUM
.u-margin-top--medium {
  margin-top: 8rem;
}
// SMALL
.u-padding-top--small {
  padding-top: 6rem;
}
